nav[data-toggle=toc] {
  margin-top: 30px;
}

.github-fork-ribbon {
  background-color: #337ab7;
}

footer {
  color: #757575;
  font-size: 0.9em;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

img {
    vertical-align: middle;
    width: 100%;
}

img.button {
  width: absolute;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle=toc] .nav .active .nav {
    display: none;
  }
}

li{
    list-style:none;
}
.submit-btn{
    margin-top: 20px;
    border-radius: 0px;
    background: rgb(255,0,0);
    color: #ccc;
}
.fa-mobile{
    font-size: 20px;
}
input[type="text"]{
    border-radius: 0px;
}
textArea{
   border-radius: 0px;
   resize: vertical;
}
.input-group-addon{
    border-radius: 0px;
    color: rgb(255,0,0);
}
